<% if user_signed_in? %>
	<% if (vote = user_has_voted? f.id) %>
		<%= render 'votes/delete_votes', vote: vote %>
	<% else %>
		<%= render 'votes/votes', f:f %>
	<% end %>

	<div id="vote-count-feedback-<%= f.id %>" class="text-center">
		<%= f.votes.count - f.downvotes.count %>
	</div>

	<% if (downvote = user_has_downvoted? f.id) %>
		<%= render 'downvotes/delete_downvotes', downvote: downvote %>
	<% else %>
		<%= render 'downvotes/downvotes', f:f %>
	<% end %>

<% end %>