<% if user_signed_in? %>
	<% if !user_has_voted?(id) %>
		<%= render 'votes/votes', type: type, id: id %>
	<% else %>
		<%= render 'votes/delete_votes', type: type, id: user_has_voted?(id) %>
	<% end %>
	<div id="vote-count-feedback-<%= id %>" style="text-align:center;">
		<%= f.votes.count - f.downvotes.count %>
	</div>
	<% if !user_has_downvoted?(id) %>
		<%= render 'downvotes/downvotes', type: type, id: id  %>
	<% else %>
		<%= render 'downvotes/delete_downvotes', type: type, id: user_has_downvoted?(id) %>
	<% end %>
<% end %>