<% @feedbacks.each do |f| %>
	<div id="feedback_<%= f.id %>" class="row">
		<div class="col-lg-12">
			<div id="votes" style="width:24px; float:left; margin-top:30px; height:auto;">
				<div id="vote-downvote-<%= f.id %>">
					<%= render 'vote_downvote', id: f.id, type: "Feedback", f:f %>
				</div>
         	</div>
         	<div class="col-lg-10 col-small-12">
         		<div id="content" style="float:left; padding:1%;">
	         	<h2><%= f.heading %></h2>
				<p><%= f.feedback_content %></p>
				<br>
            	<span class="label label-success" style="float:right;">Education</span>
          	</div>
          	</div>
		</div>	
	</div>
	<hr>
<% end %>
