<div class="row">
	<div class="col-lg-8">
		<% @feedbacks.each do |f| %>
			<div id="feedback_<%= f.id %>" class="col-lg-12">
				<div id="votes" style="width:24px; float:left; margin-top:30px; height:auto;">
					<div id="vote-downvote-<%= f.id %>">
						<%= render 'vote_downvote', f:f %>
					</div>
	         	</div>
	         	<div class="col-lg-10 col-small-12">
	         		<div id="content" style="float:left; padding:1%;">
		         	<h2><%= link_to f.heading, feedback_url(f) %></h2>
					<p><%= f.feedback_content %></p>
					<br>
	            	<span class="label label-success" style="float:right;"><%= f.tag.name %></span>
	          	</div>
	          	</div>
			</div>
			<hr>
		<% end %>
		<%= will_paginate @feedbacks %>
	</div>
	<div class="col-lg-4">
  		<div class="well">
    		<h4>Feedback By Category</h4>
  		</div><!-- /well -->
	</div><!-- End of col-4 -->		
</div>
	


