<div class="row">
	<%= render 'feedback' %>
	<div class="col-lg-4">
  		<div class="well">
    		<h4>Feedback By Category</h4>
    		<%= form_tag sort_url, method: :get do %>
      			<select name="static_pages[category]" id="select" class="form-control">
      				<% @categories.each do |category| %>
              			<% if category.id.to_s == @category.to_s %>
              				<option value="<%= category.id %>" selected><%= category.name %></option>
              			<% else %>
              				<option value="<%= category.id %>"><%= category.name %></option>
              			<% end %>
              		<% end %>
            	</select>
            	<br>
      			<%= submit_tag :search, class: "btn btn-default" %>
      		<% end %>
  		</div><!-- /well -->
	</div><!-- End of col-4 -->		
</div>
	


