<div class="container">
  <div class="row">
    <div class="col-lg-8" style=" float: none !important; margin:0 auto;">
      <div class="well">
        <legend> Feedback </legend>
        <h4> 
          <%= @feedback.heading %>
          <span class="label label-success" style="float:right;"><%= @feedback.category.name %></span>
        </h4>
        <div id="category">
          <%= @feedback.category.name %>
        </div>
        <div style="margin-top: 10px;">
          <a href=""><i class="fa fa-calendar"></i></a>&nbsp;<%= @feedback.when.to_formatted_s(:long) %>
        </div>
        <div style="margin-top: 10px;">
          <a href=""><i class="fa fa-map-marker"></i></a>&nbsp;&nbsp;&nbsp;<%= @feedback.where %>
        </div>
        <h4>Feedback Content </h4>
        <div id="feedback-text">
          <p style="line-height: 3rem;"><%= @feedback.feedback_content %></p>
        </div>
        <br>
        <div>
          <%= image_tag @feedback.image_url(:thumb) unless @feedback.image_url.nil? %>
        </div>
        
        <br>
        <div id="social-share">
          <ul class="list-unstyled list-inline list-social-icons" style="text-align:right;">
            <li class="tooltip-social facebook-link">
              <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i    class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
              <a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
              <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div> <!-- End well. -->
    </div> <!-- End Column. -->
  </div><!-- End Row. -->
</div> <!-- End container -->